# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configurations
config.json

# Local Virtual iPod databases and files
virtual_ipod/
welcome.mp3
temp_test.mp3

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
